{% extends 'base.html' %}

{% block content %}
<button
class="btn btn-warning d-md-none"
data-bs-toggle="offcanvas"
data-bs-target="#menu">

☰ Menu

</button>
<span class="badge bg-warning text-dark">
    {{ post.get_category_display }}
</span>

<h2 class="mb-4">Latest Posts</h2>

<div class="row">

{% for post in posts %}

<div class="col-md-6">

<div class="post-card">


    {% if lang == 'en' %}

        <h3>{{ post.title_en }}</h3>
        <p>{{ post.content_en }}</p>

    {% else %}

        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>

    {% endif %}

    <small>{{ post.created_at }}</small>

</p>


<p>
{{ post.content|truncatewords:25 }}
</p>

<p>
<small>
Posted: {{ post.created_at }}
</small>
</p>

<a href="{% url 'post_detail' post.id %}"
class="btn btn-warning">

Read More

</a>

</div>

</div>

{% endfor %}

</div>

{% endblock %}